.headerContainer {
  background: var(--bg-secundary);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

        
  border-bottom: 1px solid var(--primary-100);

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--primary-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }

  img {
    cursor: pointer;
  }

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    margin-left: 1.5rem;
  }
}

.leftSide {
  margin-left: auto;
  display: flex;
  align-items: center;
  button {
    background: transparent;
    border: 0;
    font-size: 0;
  }
  time {
    text-transform: capitalize;
    margin-right: 1.25rem;
  }
}